button {
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  border: 1px solid var(--button-border-color);
  border-radius: 0.2em;
  padding: 0.5em 1em;
  background: var(--button-bg-color);
  color: var(--button-font-color);
}

button:hover {
  background: var(--button-bg-color-hover);
}
