a:link,
a:active,
a:visited {
	color: var(--font-color-link);
}
a:hover {
	color: var(--font-color-hover);
}

button {
	--button-border-width: 0.1em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--s-3);

	border: solid var(--button-border-width) var(--border-color-subtle);
	border-radius: var(--s-3);
	padding: var(--s-3) var(--s-5);
	background-color: var(--background-color-interactive);
	font-family: var(--font-family-interactive);

	cursor: pointer;
}

button.ghost {
	border: solid var(--button-border-width) var(--background-color-main);
	background-color: var(--background-color-main);
}

button.action {
	border: solid var(--button-border-width) var(--action-color-normal);
}

button.small {
	padding: 0 var(--s-3);
}

button.large {
	padding: var(--s-5) var(--s-8);
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button:hover {
	box-shadow: 1px 2px var(--s-3) var(--background-color-interactive-hover);
}
